@import "https://fonts.googleapis.com/css?family=Raleway:300,400,600";
@keyframes bounce {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(5px); }
  100% {
    transform: translateY(0px); } }
@media (max-width: 768px) {
  :root body .secondary-content {
    font-size: 1.05rem;
    grid-template-columns: 1fr; } }
* {
  box-sizing: border-box; }

:root {
  background-color: #FFFFFF;
  scroll-behavior: smooth; }
  :root body {
    margin: 0;
    font-family: "Raleway";
    font-size: 1.1rem;
    color: #040404;
    font-weight: 300;
    line-height: 2em; }
    :root body .main-header {
      position: relative;
      height: 20em;
      text-align: center;
      transition: color 300ms ease-in-out;
      background-image: url("../img/header-background.jpg");
      background-color: #FFFFFF04;
      background-blend-mode: lighten;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed; }
      :root body .main-header div {
        width: 90vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        :root body .main-header div h1 {
          font-weight: 400;
          margin: 0;
          font-size: 3.1em; }
        :root body .main-header div .main-title {
          display: block;
          font-weight: 300;
          font-size: 1.3em;
          margin: 1em auto; }
        :root body .main-header div img {
          margin-top: 4em;
          width: 3em;
          animation: bounce 850ms ease-in-out infinite; }
    :root body .primary-content {
      padding: 4em;
      margin: 0;
      text-align: center; }
      :root body .primary-content p {
        text-align: justify; }
      :root body .primary-content .intro {
        width: 70%;
        margin: 1.6em auto;
        margin-bottom: 4em;
        font-size: 1.4em;
        text-align: center;
        color: #749C75; }
      :root body .primary-content .wildlife {
        margin: 6em auto;
        margin-bottom: 3em;
        font-size: 1.3em; }
    :root body .secondary-content {
      display: grid;
      grid-gap: 5em;
      grid-template-columns: 1fr 1fr;
      position: relative;
      font-size: 1.2rem;
      color: #FFFFFF;
      font-weight: 300;
      background-color: #464646;
      height: 40em;
      padding: 5em;
      margin: 0 auto; }
      :root body .secondary-content div {
        border: 1px solid #FFFFFF;
        text-align: center;
        float: left;
        border-radius: 0.1em;
        width: 100%;
        height: 32em;
        padding: 1em;
        box-shadow: 0 2px 50px rgba(0, 0, 0, 0.36);
        transform-style: preserve-3d;
        transform: rotateY(0.5turn); }
        :root body .secondary-content div img {
          transform: translateZ(5em);
          border-radius: 0.1em;
          margin: 0 auto;
          height: 10em;
          width: 60%;
          display: flex;
          transform-style: preserve-3d; }
        :root body .secondary-content div h3 {
          transform: translateZ(10em);
          margin: 1.5em 0;
          font-weight: 400;
          font-size: 1.3em;
          transform-style: preserve-3d; }
        :root body .secondary-content div p {
          padding: 0 1em;
          transform-style: preserve-3d;
          transform: translateZ(8em); }
        :root body .secondary-content div ul {
          text-align: left;
          transform-style: preserve-3d;
          margin-left: 3em;
          transform: translateZ(9em); }
        :root body .secondary-content div ol {
          text-align: left;
          transform-style: preserve-3d;
          margin-left: 2em;
          transform: translateZ(9em); }
      :root body .secondary-content span .resorts {
        background-image: url("../img/resort.jpg");
        background-size: cover;
        background-color: rgba(0, 0, 0, 0);
        background-blend-mode: multiply;
        transition: all 1100ms ease-in-out; }
      :root body .secondary-content span .tips {
        background-image: url("../img/mountain.jpg");
        background-size: cover;
        background-color: rgba(0, 0, 0, 0);
        background-blend-mode: multiply;
        transition: all 1100ms ease-in-out; }
      :root body .secondary-content span:hover .resorts {
        background-color: rgba(0, 0, 0, 0.8);
        transform: rotateY(0turn); }
      :root body .secondary-content span:hover .tips {
        background-color: rgba(0, 0, 0, 0.8);
        transform: rotateY(0turn); }
    :root body .main-footer {
      border-top: 1px solid #749C75;
      color: #CADBC0;
      font-weight: 400;
      text-align: center;
      background-color: #464646;
      padding: 3em 4em; }
      :root body .main-footer p {
        margin: 0;
        float: left; }
      :root body .main-footer .to-top {
        float: right; }

h2 {
  font-weight: 400;
  font-size: 2.2em;
  margin: 1.3em auto; }

a {
  text-decoration: none;
  transition: color 200ms ease-in-out; }
  a:link {
    color: #749C75; }
  a:visited {
    color: #749C75; }
  a:hover {
    color: #CADBC0; }
  a:active {
    color: #464646; }

.callout {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5em 1em;
  font-weight: 600;
  border: 3px solid #040404;
  border-radius: 1px;
  transition: color 200ms ease-in-out, border 200ms ease-in-out; }
  .callout:link {
    color: #040404; }
  .callout:visited {
    color: #040404; }
  .callout:hover {
    color: #749C75;
    border: 3px solid #749C75; }
  .callout:active {
    color: #040404; }

ul {
  padding: 0;
  list-style-type: circle; }

/*# sourceMappingURL=main.css.map */
