// Base Styles
// ============

* {
    box-sizing: border-box;
}
:root {
    background-color: $white;

    body {
        font-family: $font;
        font-size: $fsBase;
        color: $black;
        font-weight: $wgtBase;

        .main-header {
            margin-top: 4em;
            text-align: center;
            transition: color 300ms ease-in-out;

            h1 {
                text-shadow: 2px 2px $grey,
                2px 3px $grey,
                3px 3px $grey,
                3px 4px $grey,
                4px 4px $grey,
                4px 5px $grey;
                font-weight: $wgtBase;
                margin: 0;
                font-size: $fsOne;
            }
            h2 {
                font-weight: $wgtBase;
                margin: 0;
                font-size: $fsTwo;
            }
            img {
                margin-top: 1em;
                width: 3em;
                animation: bounce 750ms ease-in-out infinite;
            }
        }
    }
}
