
// ============
// Base Styles
// ============

* {
    box-sizing: border-box;
}
:root {
    background-color: $white;

    body {
        margin: 0;
        font-family: $font;
        font-size: $fsBase;
        color: $black;
        font-weight: $wgtBase;
        line-height: 2em;

        .main-header {
            position: relative;
            height: 20em;
            text-align: center;
            transition: color 300ms ease-in-out;
            background-image: url('../img/header-background.jpg');
            background-color: #FFFFFF04;
            background-blend-mode: lighten;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;

            div {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                h1 {
                    // text-shadow:0px 2px $grey,
                    //             0px 3px $grey,
                    //             0px 3px $grey,
                    //             0px 4px $grey,
                    //             0px 4px $grey,
                    //             0px 5px $grey;
                    font-weight: $wgtBold;
                    margin: 0;
                    font-size: $fsOne;

                }
                .main-title {
                    display: block;
                    font-weight: $wgtBase;
                    font-size: $fsThree;
                    margin: 1em auto;

                }
                img {
                    margin-top: 4em;
                    width: 3em;
                    animation: bounce 750ms ease-in-out infinite;
                }
            }
        }
        .primary-content {
            width: 80%;
            margin: 0 auto;
            text-align: center;
            p {
                text-align: justify;
            }
            .intro {
                width: 70%;
                margin: 4.5em auto;
                margin-bottom: 2em;
                font-size: 1.4em;
                text-align: center;
                color: $drkgreen;
            }
            .wildlife {
                margin: 6em auto;
                margin-bottom: 3em;
                font-size: 1.3em;
            }
        }

        .secondary-content {
            width: 80%;
            margin: 0 auto;
        }
    }
}
