
// ============
// Base Styles
// ============

* {
    box-sizing: border-box;
}
:root {
    background-color: $white;
    scroll-behavior: smooth;
    body {
        margin: 0;
        font-family: $font;
        font-size: $fsBase;
        color: $black;
        font-weight: $wgtBase;
        line-height: 2em;

        .main-header {
            font-size: 1.02rem;
            position: relative;
            min-height: 20em;
            height: 60vh;
            text-align: center;
            transition: color 300ms ease-in-out;
            background-color: $drkgrey;
            background-blend-mode: lighten;
            background-image: url('../img/hedr-bgimg.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            color: $white;
            div {
                width: 90vw;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                h1 {
                    // text-shadow:0px 2px $grey,
                    //             0px 3px $grey,
                    //             0px 3px $grey,
                    //             0px 4px $grey,
                    //             0px 4px $grey,
                    //             0px 5px $grey;
                    font-weight: $wgtBold;
                    margin: 0;
                    font-size: $fsOne;

                }
                .main-title {
                    display: block;
                    font-weight: $wgtBase;
                    font-size: $fsThree;
                    margin: 1em auto;

                }
                img {
                    margin-top: 3em;
                    width: 3em;
                    animation: bounce 850ms ease-in-out infinite;
                }
            }
        }
        .primary-content {
            padding: 3em 4em;
            margin: 0;
            text-align: center;
            p {
                text-align: justify;
            }
            .intro {
                width: 60%;
                margin: 1.6em auto;
                margin-bottom: 3em;
                font-size: 1.5em;
                text-align: center;
                color: $drkgreen;
            }
            .wildlife {
                width: 95%;
                margin: 4em auto;
                margin-bottom: 3em;
                font-size: 1.3em;
                h2 {
                    font-size: $fsTwo;
                    padding: 0;
                }
            }
            // .callbox {
            //     height: 40vh;
            //     width: 100%;
            //     background-color: $drkgrey;
            //     background-blend-mode: lighten;
            //     background-image: url('../img/hedr-bgimg.jpg');
            //     background-position: center;
            //     background-size: cover;
            //     background-repeat: no-repeat;
            //     background-attachment: fixed;
            // }
        }

        .secondary-content {
            display: grid;
            grid-gap: 5em;
            grid-template-columns: 1fr 1fr;
            position: relative;
            font-size: 1.05rem;
            color: $white;
            font-weight: $wgtBase;
            background-color: $drkgrey;
            background-blend-mode: lighten;
            background-image: url('../img/hedr-bgimg.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            height: 40em;
            padding: 5em 8em;
            margin: 0 auto;
            div {
                border: 1px solid $white;
                text-align: center;
                float: left;
                border-radius: 0.1em;
                width: 100%;
                height: 32em;
                padding: 1em;
                box-shadow: 0 2px 50px 3px rgba(0, 0, 0, 0.36);
                transform-style: preserve-3d;
                transform: rotateY(0.5turn);
                img {
                    border-radius: 0.1em;
                    margin: 1.6em auto;
                    height: 10em;;
                    width: 16em;
                    display: flex;
                    opacity: 0;
                    transform: translateY(1em)  translateZ(1em);
                    transform-style: preserve-3d;
                    transition: opacity 800ms ease-in-out 500ms,
                    transform 900ms ease-in-out 400ms;
                }
                h3 {
                    transform: translateZ(10em);
                    margin: 1.5em 0;
                    font-weight: $wgtBold;
                    font-size: $fsThree;
                    transform-style: preserve-3d;
                }
                p {
                    padding: 0 1em;
                    transform-style: preserve-3d;
                    transform: translateZ(8em);

                }

                ul {
                    text-align: left;
                    transform-style: preserve-3d;
                    margin-left: 3em;
                    transform: translateZ(9em);

                }

                ol {
                    text-align: left;
                    transform-style: preserve-3d;
                    margin-left: 2em;
                    transform: translateZ(9em);

                }
            }

            span {
                .resorts {
                    background-image: url('../img/resort.jpg');
                    background-size: cover;
                    background-position: center;
                    background-color: rgba(0, 0, 0, 0);
                    background-blend-mode: multiply;
                    transition: all 900ms ease-in-out;
                    
                }
                .tips {
                    background-image: url('../img/mountain.jpg');
                    background-size: cover;
                    background-color: rgba(0, 0, 0, 0);
                    background-blend-mode: multiply;
                    transition: all 900ms ease-in-out;
                }
                &:hover .resorts {
                    background-color: rgba(0, 0, 0, 0.8);
                    transform: rotateY(0turn);
                }
                &:hover .tips {
                    background-color: rgba(0, 0, 0, 0.8);
                    transform: rotateY(0turn);
                }
                &:hover img {
                    opacity: 1;
                    transform: translateY(0em) translateZ(7em);
                } 
            }

        }
        .main-footer {
            border-top: 1px solid $drkgreen;
            color: $lgtgrey;
            font-weight: $wgtBold;
            text-align: center;
            background-color: $drkgrey;
            padding: 3em 4em;
            p {
                margin: 0;
                float: left;
            }
            .to-top {
                float: right;
            }
        }
    }
}
