//Color Variables
// ==============

$white: #F5F5F5;
$black: #040404;
$gold: #F6BD60;
$grey: #CADBC0;

//Font Variables
// ==============
@import 'https://fonts.googleapis.com/css?family=Raleway:300';
$wgtBase: 300;
$font: 'Raleway';
$fsBase: 0.7rem;
$fsOne: 5em;
$fsTwo: 4em;
